.upload {
	background: url('../img/icon-dribbble.png') no-repeat -88px -25px $bgUpload;
	background-size: cover;
	border-radius: 0 0 55% 55%/0 0 15% 15%; 
	text-align: center;
	padding: 3.9rem 0;
	box-shadow: -4px 15px 20px rgba(0,0,0,.2);
}

.title_upload {
	color: $titleUpload;
	font-size: 2.8rem;
	font-family: brandon;
	text-transform: uppercase;
	letter-spacing: .5rem;
}

.shots {
	color: $colorShots;
	font-size: 1.4rem;
	font-weight: bold;
}