.navbar{
	height: 40px;
	background: rgba(255, 255, 255, 0.59);
	overflow: hidden;

	.main {
		margin: 0 auto;
	}
}
.icon{
	margin: 3px auto;
	display: block;
}
.logo{ margin-top: 35px;}
.upload {
	background: url("../img/333.png") no-repeat left center #ea4c89;
	background-size: contain;
	border-radius: 0 0 55% 55%/0 0 15% 15%; 
	text-align: center;
	height: 240px;
	box-shadow: -4px 15px 20px rgba(0,0,0,.2);
}

.title_upload {
	color: $titleUpload;
	font-size: 2.8rem;
	font-family: brandon;
	text-transform: uppercase;
	letter-spacing: .5rem;
}

.shots {
	color: $colorShots;
	font-size: 1.4rem;
	font-weight: bold;
}