.main{
	width: $widthMain;
	margin: 40px auto;
}

.send {
	background: $bgSend;
	padding-bottom: 50px;
	position: relative;
	&:before {
		content: '';
		position: absolute;
		left: 46.5%;
		top: -18px;
		width: 0;
		height: 0;
		border-left: 18px solid transparent; 
		border-right: 18px solid transparent; 
		border-bottom: 18px solid #D8467E; 
	}
}

#infor_upload{
	margin: 20px 50px;

}
.infos {
	display: block;
	border-radius: 6px;
	border: 1px solid $colorBorderInputs;
	width: 100%;
	padding: 8px 0;
	margin-bottom: 20px;
	outline: none;
	padding-left: 10px;
	&:focus {
		box-shadow: 1px 1px 20px $focusInput;
	}
}