.btn {
	padding: 2.0rem 8.0rem;
	border-radius: 3.0rem;
	text-align: center;
}

.btn_upload {
	background: $bgButtonPrimary;
	color: $colorButton;
	text-transform: uppercase;
	font-size: 1.7rem;
	display: table;
	margin: 20px auto;
	box-shadow: 1px 1px 30px rgba(51, 51, 51, 0.51); 
}