* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
  font-size: 62.5%;
}
body {
  font: 300 13px/1.6 'Helvetica Neue', Helvetica, Arial;
  color: #444;
	background: url('../img/background.png')top center no-repeat;
  background-size: cover;
}