// Variable width
$widthMain: 45rem;


// Variable background
$bgUpload: #ea4c89;
$bgSend: #FFF;
$bgUpload: #ea4c89;
$bgButtonPrimary: $bgUpload;

// Variable color
$titleUpload: #FFF;
$colorShots: #f7a4c4;
$colorBorderInputs: #c1c5cc;
$colorButton: #FFF;
// Variable input
$focusInput: rgba(234, 76, 137, 0.24);
